.main{
display: flex;
}
.left{
    width: 38%;
}
.left img{
margin-top: 20px;}
.right{
    width: 62%;
    font-size: 20px;
    font-weight: bold;
}
.right ul{
    display: flex;
    gap: 40px;
}
.right ul li:first-child{
    color: #FFA500;
}